<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enercomn.web.mapper.TbEnergyDataCollectorValueMapper">

  <insert id="saveBatch" parameterType="java.util.List">
    insert into tb_energy_data_collector_value (id,redis_key, redis_value, data_code,
    push_time, collector_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR},#{item.redisKey,jdbcType=VARCHAR}, #{item.redisValue,jdbcType=VARCHAR}, #{item.dataCode,jdbcType=VARCHAR},
      #{item.pushTime,jdbcType=TIMESTAMP}, #{item.collectorTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>


</mapper>